@import 'react-calendar/dist/Calendar.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body, html {
  /* margin: 0; */
  margin-top: 50px;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  /* pruebas para la card modificar productos */
  overflow: auto;
  /*  */
}

#root {
  height: 100%;
  width: 100%;
}

.grid-container {
  /* display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  /* grid-area: 'header'; */
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* z-index: 1000;   */
  background-color: #ffffff;
  color: #005BA9;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  /* display: flex; */
  align-items: center;
  margin-left: 3rem;
}

.header-right {
  /* display: flex; */
  align-items: center;  
  margin-right: 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
 }

.logo:hover {
  opacity: 0.5;
}

.nav {
  display: flex;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #005BA9;
}

.nav a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Ajusta según la ubicación de la hamburguesa */
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  list-style: none;
  margin: 0;
}
.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #00ACD3;
}

.main-content {
  /* grid-area: 'main'; */
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  /* flex: 1; */
}

.section-top {
  grid-area: section-top;
  background-color: #005BA9;
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-top-left {
  display: flex;
  align-items: center;
}

.section-top-right {
  /* display: flex; */
  align-items: center;
}

.section-mid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 1rem;
  background-color: #005BA9;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.section {
  background-color: #005BA9;
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}


.section-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  background-color: #005BA9;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.card {
  background-color: #fff;
  color: black;
  margin: 5%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.card img {
   width: 300px;
  height: 300px;   
}*/

.crearCuenta { 
  gap: 1rem;
  background: linear-gradient(-135deg, #005BA9, #00ACD3);
  color: #ffffff;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: roboto;
  width: 350px;
  height: 550px;  
}

.infoperfil{
  color: #000;
}

.crearCuenta p {
  color: white;
  font-weight: bold;
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.crearCuenta label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.crearCuenta input {
  /* width: 100%; */
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.crearCuenta button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #005BA9;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkbox {  
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.checkbox p {
  margin-right: 10px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

.perfil { 
  gap: 1rem;
  background: linear-gradient(to bottom, #005BA9 20%, #ffffff 0%);
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 500px;  
}

.perfilStyle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #C6F2FD;
  border: 2px solid black;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.main-detail{
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-detail h2{
  text-align: center;
  background-color: #005BA9;
  padding: 2rem;
  color: white
}

.detail {
  background-color: #fff;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 2rem;
  padding: 0.3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.card h2, h4 {
  color: #005BA9;
}

.card h3 {
  margin-bottom: 1rem;
}

.card p {
  text-align: center;
}
.button{
  font-family: roboto;
}

.footer {
  /* grid-area: 'footer'; */
  background-color: #005BA9;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: auto;
  
  /* width: 100%; */
}

.footer .socials a  img{
  width: 40px; 
  height: 40px;
  margin: 10px;
}

.footer .socials a:hover {
  text-decoration: underline;
}

.hamb {
  display: none;
}

/* pruebas card modificar */


/* Estilos para el fondo difuminado y el centrado del modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo difuminado */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  z-index: 1000; /* Asegura que esté por encima de todo */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para la tarjeta dentro del modal */
.card-modificar {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  max-height: 80vh; /* Limita la altura de la tarjeta */
  overflow-y: auto; /* Permite el desplazamiento dentro de la tarjeta */
  text-align: center;
  z-index: 1001; /* Asegura que el contenido esté por encima del fondo */
}

.card-modificar img {
  max-width: 100%;
  border-radius: 10px;
}

.card-modificar h2, .card-modificar h3, .card-modificar p {
  margin: 10px 0;
}

/* Estilos para los formularios */
.card-modificar form {
  margin-top: 20px;
}

/* Etiquetas de formulario alineadas a la izquierda */
.card-modificar form label {
  display: block;
  text-align: left;
  margin: 5px 0;
}

/* Contenedor para inputs y botones */
.card-modificar form .input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilo de los inputs */
.card-modificar form .input-container input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo de los botones de agregar modificación */
.card-modificar form .input-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Color del botón de agregar */
  color: white;
  cursor: pointer;
}

/* Botones adicionales en formularios */
.card-modificar form .button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-modificar form .button-container button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botón de agregar */
.card-modificar form .button-container button:nth-child(1) {
  background-color: #007bff; /* Botón de agregar */
  color: white;
}

/* Botón de modificar */
.card-modificar form .button-container button:nth-child(2) {
  background-color: #ffc107; /* Botón de modificar */
  color: black;
}

/* Estilos para las listas */
.card-modificar ul {
  list-style-type: none;
  padding: 0;
}

/* Margen inferior en elementos de la lista */
.card-modificar ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; /* Alinea el contenido y el botón de eliminar */
  align-items: center; /* Centra el botón verticalmente */
}

/* Contenedor de botones de eliminar alineado a la derecha */
.card-modificar ul li div {
  margin-left: auto; /* Empuja el botón hacia la derecha */
}

/* Estilos para el botón de eliminar características */
.card-modificar ul li div button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

/* Estilos para los enlaces en la lista */
.card-modificar ul li a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

/* Contenedores adicionales para botones */
.card-modificar div {
  display: flex;
  justify-content: center; /* Centra los botones de guardar y eliminar */
  gap: 20px; /* Espacio entre los botones */
  margin-top: 20px; /* Añade margen superior para separarlos del contenido anterior */
}

/* Estilos de los botones de la parte inferior */
.card-modificar div button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botón de guardar cambios */
.card-modificar div button:nth-child(1) {
  background-color: #dc3545;
  color: white;
}

/* Botón de borrar producto */
.card-modificar div button:nth-child(2) {
  background-color: #28a745;
  color: white;
}


/* Estilo del input y botón para agregar nuevas características */
.card-modificar .nueva-caracteristica {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el input de nuevas características */
.card-modificar .nueva-caracteristica input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de agregar nuevas características */
.card-modificar .nueva-caracteristica button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para los enlaces en la lista */
.card-modificar ul li a {
  text-decoration: none;
  color: #007bff; /* Color del texto */
  cursor: pointer;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Hace el texto más grueso */
  padding: 5px 0; /* Añade algo de espaciado vertical */
  display: block; /* Hace que el enlace ocupe todo el ancho del elemento */
}

.card-modificar ul li a:hover {
  color: #0056b3; /* Color al pasar el ratón por encima */
}

/* fin pruebas card modificar */

/* estilos calendario */

.section-caract-reserva {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 1rem;
  background-color: #00ACD3;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  align-content: space-between;
}

.reserva {
  gap: 1rem;
  text-align: center;
}

/*Estilos dentro del calender*/
.react-calendar__tile--disabled {
  background-color: #f0f0f0;
  text-decoration: line-through;
  color: #999;
}
.react-calendar__tile--now {
  background-color: #005BA9; /* Cambia a tu color deseado */
  color: white; /* Opcional, cambiar el color del texto */
  font-weight: bold; /* Opcional, para resaltar */
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #005BA9; /* Color cuando se pasa el cursor sobre el día de hoy */
}

/* Estilo para fechas pasadas */
.past-date {
  background-color: #f0f0f0;
  text-decoration: line-through;
  color: #999;
}

/* Estilo para fechas reservadas */
.reserved-date {
  background-color: #f12b2b;
  color: #000;
  font-weight: bold;
}

/* Estilo para fechas seleccionadas */
.selected-date {
  background-color: #00ACD3;
  color: #000;
  font-weight: bold;
}

/* fin estilos calendario */

/* estilos agregar y modificar productos  */

.agregar-modificar-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas con el mismo ancho */
  grid-template-rows: auto repeat(5, auto); /* Fila para el botón y luego 5 filas automáticas para las cards */
  gap: 1rem; /* Espacio entre las cards y el botón */
  background-color: #005BA9;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box; 
}

.btn-agregar-producto{
  grid-column: span 2; /* El botón abarca 2 columnas */
  padding: 10px; /* Puedes ajustar el padding según sea necesario */
  font-size: 16px;
  font-weight: bold;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  width: 100%; /* Asegúrate de que el ancho sea del 100% del contenedor */
  box-sizing: border-box; /* Para incluir padding en el ancho total */
  margin: 0; /* Elimina márgenes para evitar desajustes */
}

/* .btn-agregar-producto:hover {
  background-color: #45a049;
} */

.btn-agregar-producto::before {
  content: '+';
  margin-right: 8px;
  font-size: 20px;
}

/* fin estilos agregar y modificar productos */

@media (max-width: 600px) {
  .react-calendar {
    /* El calendario toma el ancho completo */
    width: 100%;
     /* Reducir tamaño de fuente */
    font-size: 0.8rem;
  }

  .react-calendar__month-view__days__day {
    height: auto;
    /* Ajuste automático de los días */
    flex-basis: calc(100% / 7); 
  }
}

@media (max-width: 700px) {
  .nav {
    display: none;
  }
  .hamb {
    display: block;
    cursor: pointer;
  }
  .section-top-left{
    display: none;
  }
  .section-mid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1rem;
    background-color: #005BA9;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
  }
  .section-bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
    background-color: #005BA9;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
  }
  .detail {
    background-color: #fff;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 8px;
    gap: 2rem;
    padding: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
}

@media (max-width: 800px){
  
  .section-caract-reserva {
   
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #00ACD3;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    /* align-content: center; */
    align-items: center;
  }
  .reserva {
    gap: 1rem;
    text-align: center;
  }
  
  }